/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------- css reset end--------- */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  display: block;
}

.flex_sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 139px;
  padding-right: 139px;
}

@media (max-width: 992px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 580px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 415px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.frame {
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(130, 130, 130, 0.3);
}

.btn_point {
  background: #FF5D50;
  border-radius: 50px;
  color: #fff;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  min-width: 128px;
}

.btn_point:hover {
  background: #e91100;
}

.btn_main {
  background: #56C4C5;
  border-radius: 50px;
  color: #fff;
  padding: 12px 0;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  width: 136px;
}

.btn_main:hover {
  background: #2e8687;
}

.mb100 {
  margin-bottom: 100px;
}

.mb48 {
  margin-bottom: 48px;
}

.mb28 {
  margin-bottom: 28px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb16 {
  margin-bottom: 16px;
}

.mr37 {
  margin-right: 37px;
}

.header {
  padding: 24px 139px;
}

@media (max-width: 992px) {
  .header {
    padding: 24px 100px;
  }
}

@media (max-width: 580px) {
  .header {
    padding: 24px 60px;
    background: #fff;
    border-bottom: 2px solid #FFD153;
  }
}

@media (max-width: 415px) {
  .header {
    padding: 16px 20px;
  }
}

.header .logo {
  max-width: 218px;
  /* Firefox        */
  image-rendering: -moz-crisp-edges;
  /* Opera          */
  image-rendering: -o-crisp-edges;
  /* Safari         */
  image-rendering: -webkit-optimize-contrast;
  /* CSS3 Proposed  */
  image-rendering: optimize-contrast;
  /* IE8+           */
  -ms-interpolation-mode: nearest-neighbor;
}

@media (max-width: 415px) {
  .header .logo {
    width: 130px;
  }
}

.footer {
  background: #F5F5F5;
  color: #221E1F;
  text-align: center;
  padding: 20px 0;
}

.bg_mainCost {
  height: 80vh;
  position: relative;
}

.bg_mainCost h1 {
  margin-top: 92px;
  font-size: 48px;
  font-weight: bold;
  color: #221E1F;
}

@media (max-width: 580px) {
  .bg_mainCost h1 {
    font-size: 32px;
    margin-top: 48px;
  }
}

.bg_mainCost h2 {
  color: #736669;
}

.bg_mainCost .hero_bg_cost {
  position: absolute;
  background: #F7F9FD;
  height: 70vh;
  width: 100%;
  border-radius: 0 0 0 300px;
  right: 0;
  top: 0;
  z-index: -99;
}

.bg_mainCost .hero_pic_cost {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

@media (max-width: 580px) {
  .bg_mainCost .hero_pic_cost {
    display: none;
  }
}

.bg_mainCost .m-hero_pic_cost {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  display: none;
  object-fit: contain;
  height: 80vh;
}

@media (max-width: 580px) {
  .bg_mainCost .m-hero_pic_cost {
    display: block;
  }
}

.cost_classList {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}

@media (max-width: 992px) {
  .cost_classList {
    overflow-y: auto;
    justify-content: flex-start;
  }
  .cost_classList::-webkit-scrollbar {
    display: none;
  }
}

.cost_classList .cost_class {
  border: 1px solid #56C4C5;
  border-radius: 50px;
  color: #56C4C5;
  padding: 16px 32px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  margin: 0 12px;
}

.cost_classList .cost_class:hover {
  background: #a2dfdf;
  color: #fff;
}

@media (max-width: 580px) {
  .cost_classList .cost_class {
    padding: 12px 20px;
    font-size: 16px;
    margin: 0 6px;
  }
}

@media (max-width: 415px) {
  .cost_classList .cost_class {
    padding: 12px 16px;
    margin: 0 3px;
  }
}

.cost_classList .cost_class_on {
  background: #56C4C5;
  color: #fff;
}

.info_bg {
  background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg) no-repeat;
  background-size: 361px;
  background-position: -276px 260px;
}

.cost_content_box {
  max-width: 909px;
  margin: auto;
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .cost_content_box {
    flex-direction: column;
  }
}

.cost_content_box a {
  margin: 0 auto;
  margin-bottom: 32px;
}

.cost_content_card {
  width: 48%;
  padding-right: 24px;
  padding-left: 24px;
  background: #fff;
}

@media (max-width: 992px) {
  .cost_content_card {
    width: 80%;
    margin-bottom: 32px;
  }
}

@media (max-width: 580px) {
  .cost_content_card {
    width: 100%;
    margin-bottom: 24px;
  }
}

.cost_content_card h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  padding: 16px 0;
  border-bottom: 1px solid #DDDDDD;
  color: #221E1F;
  text-align: center;
}

.cost_content_card p {
  text-align: center;
  line-height: 1.5;
  color: #221E1F;
  padding: 32px 0;
  text-align: center;
}

.cost_number_box {
  margin-bottom: 32px;
}

.cost_number_box .cost_number {
  padding: 24px 0;
  width: 43%;
  background: #F5F5F5;
  border-radius: 12px;
}

.cost_number_box .cost_number span {
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
  text-align: center;
}

.cost_number_box .cost_number p {
  font-size: 32px;
  text-align: center;
  padding: 0;
}

.cost_number_box .cost_number p sub {
  font-size: 12px;
}

@media (max-width: 580px) {
  .cost_number_box .cost_number p {
    font-size: 28px;
  }
}

.cost_number_box .equal {
  font-size: 29px;
}

.cost_number_box .highlight {
  color: #56C4C5;
}

.contentList {
  margin-bottom: 32px;
}

.contentList .content {
  display: flex;
  align-items: center;
}

.contentList .iconCheck {
  margin-right: 12px;
  height: 16px;
}

.contentList p {
  padding: 8px 0;
  text-align: left;
}

.QA_list {
  max-width: 909px;
  margin: 0 auto;
  line-height: 1.5;
}

.QA_list .QA_title a {
  font-size: 18px;
  text-decoration: none;
  color: #221E1F;
  padding: 16px 32px;
}

@media (max-width: 580px) {
  .QA_list .QA_title a {
    font-size: 16px;
    padding: 16px;
  }
}

.QA_list .QA_title a .icon_plus {
  display: block;
}

.QA_list .QA_title a .icon_minus {
  display: none;
}

.QA_list .QA_title a:hover {
  background: #F7F9FD;
}

.QA_list .QA_title .active {
  color: #56C4C5;
  font-weight: bold;
}

.QA_list .QA_title p {
  display: none;
  color: #747474;
  line-height: 2;
  padding: 16px 32px 32px 32px;
}

.bg_main {
  height: 100vh;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg);
  background-repeat: no-repeat;
  background-size: contain,360px 360px;
  background-position: 100% 0%, -222px calc(100% + 180px);
}

@media (max-width: 992px) {
  .bg_main {
    background-size: 60%,360px 360px;
    height: 80vh;
  }
}

@media (max-width: 580px) {
  .bg_main {
    height: auto;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg);
    background-size: 334px auto;
    background-position: center 93%;
  }
}

.hero_box {
  height: 60vh;
  padding-top: 32px;
}

@media (max-width: 580px) {
  .hero_box {
    flex-direction: column;
    height: 80vh;
  }
}

@media (max-width: 580px) {
  .slogan_box {
    margin-bottom: 32px;
  }
}

.slogan_box p {
  color: #56C4C5;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

@media (max-width: 992px) {
  .slogan_box p {
    font-size: 16px;
  }
}

.slogan_box h1 {
  color: #221E1F;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
  line-height: 1.5;
}

@media (max-width: 992px) {
  .slogan_box h1 {
    font-size: 36px;
  }
}

@media (max-width: 580px) {
  .slogan_box h1 {
    font-size: 32px;
  }
}

.slogan_box h2 {
  color: #736669;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .slogan_box h2 {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 580px) {
  .slogan_box h2 {
    font-weight: 400;
  }
}

.p_main {
  width: 49%;
  margin-left: auto;
}

@media (max-width: 580px) {
  .p_main {
    width: 90%;
    margin: auto;
  }
}

.back_top {
  position: fixed;
  height: 70px;
  width: 70px;
  background: #56C4C5;
  border-radius: 50%;
  font-weight: 900;
  text-align: center;
  color: #fff;
  padding: 27px 0;
  text-decoration: none;
  z-index: 299;
  right: 48px;
  bottom: 24px;
}

.back_top:hover {
  background: #2e8687;
}

@media (max-width: 580px) {
  .back_top {
    height: 50px;
    width: 50px;
    font-size: 14px;
    padding: 18px 0;
    right: 16px;
    bottom: 16px;
  }
}

.bg_content {
  padding-top: 100px;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg);
  background-repeat: no-repeat;
  background-size: 360px 360px,310px 310px,150px 150px;
  background-position: -222px -180px,108% 32%,5% 66%;
}

@media (max-width: 580px) {
  .bg_content {
    padding-top: 60px;
    background-size: 126px 126px,135px 135px,150px 150px;
    background-position: -60px 75px, calc(100% + 47px) 52%, 5% 66%;
  }
}

@media (max-width: 415px) {
  .bg_content {
    background-position: -60px 75px, calc(100% + 47px) 45%, 5% 66%;
  }
}

.info_box .title {
  font-size: 32px;
  color: #221E1F;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 580px) {
  .info_box .title {
    font-size: 28px;
    line-height: 1.5;
  }
}

.info_box .subtitle {
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media (max-width: 580px) {
  .info_box .subtitle {
    font-size: 18px;
  }
}

@media (max-width: 580px) {
  .info_platform {
    flex-wrap: wrap;
  }
}

.platform_card {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 580px) {
  .platform_card {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 415px) {
  .platform_card {
    margin-bottom: 24px;
  }
}

.platform_card .platform_img {
  width: 90px;
}

@media (max-width: 580px) {
  .platform_card .platform_img {
    margin-bottom: 16px;
  }
}

.platform_card .platform_title {
  font-size: 24px;
  color: #221E1F;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 580px) {
  .platform_card .platform_title {
    margin-bottom: 16px;
  }
}

.platform_card p {
  color: #747474;
  line-height: 1.5;
  text-align: center;
}

.info_sever {
  align-items: stretch;
}

@media (max-width: 992px) {
  .info_sever {
    flex-wrap: wrap;
    padding-right: 37px;
    padding-left: 37px;
  }
}

.sever_card {
  background: #fff;
  width: 23%;
}

@media (max-width: 992px) {
  .sever_card {
    width: 48%;
    margin-bottom: 32px;
  }
}

@media (max-width: 580px) {
  .sever_card {
    width: 100%;
  }
}

.sever_card .sever_img {
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.sever_card h4 {
  padding: 20px 0;
  color: #56C4C5;
  text-align: center;
}

.sever_card p {
  padding: 0 16px 24px 16px;
  line-height: 1.5;
  text-align: center;
  color: #221E1F;
}

@media (max-width: 992px) {
  .info_feature {
    flex-direction: column-reverse;
    width: 100%;
  }
}

.feature_cardList {
  display: flex;
  flex-wrap: wrap;
  width: 47%;
}

@media (max-width: 992px) {
  .feature_cardList {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 415px) {
  .feature_cardList {
    padding-right: 52px;
    padding-left: 52px;
  }
}

.feature_cardList .feature_card {
  width: 45%;
  background: #fff;
  padding: 32px 32px 48px 32px;
}

@media (max-width: 992px) {
  .feature_cardList .feature_card {
    padding: 24px;
    margin-right: 0;
    margin-bottom: 28px;
  }
}

@media (max-width: 415px) {
  .feature_cardList .feature_card {
    width: 100%;
  }
}

.feature_cardList .feature_card .feature_pic {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(130, 130, 130, 0.3);
}

.feature_cardList .feature_card .feature_pic img {
  width: 52px;
  margin: 0 auto;
  padding: 17px 0;
}

.feature_cardList .feature_card .feature_title {
  font-size: 18px;
  font-weight: bold;
  color: #221E1F;
}

.feature_cardList .feature_card p {
  color: #221E1F;
  line-height: 1.5;
}

.feature_slogan {
  width: 42%;
  padding-right: 49px;
}

@media (max-width: 992px) {
  .feature_slogan {
    width: 100%;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
  }
}

.feature_slogan h3 {
  color: #221E1F;
  font-size: 32px;
  line-height: 1.5;
  font-weight: bold;
}

@media (max-width: 992px) {
  .feature_slogan h3 {
    text-align: center;
  }
}

.feature_slogan p {
  color: #221E1F;
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 992px) {
  .feature_slogan p {
    text-align: center;
  }
}

.info_comment {
  padding-top: 104px;
  position: relative;
}

@media (max-width: 992px) {
  .info_comment {
    padding-top: 48px;
  }
}

.comment_card {
  padding: 48px 32px 24px 32px;
  position: relative;
  width: 30%;
  background: #fff;
}

@media (max-width: 992px) {
  .comment_card {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 24px;
  }
}

.comment_card .pic_head {
  border-radius: 50%;
  width: 80px;
  position: absolute;
  top: -50px;
}

.comment_card p {
  color: #221E1F;
  line-height: 1.5;
  padding-bottom: 24px;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 24px;
}

.comment_card h4 {
  font-weight: bold;
  color: #221E1F;
  margin-bottom: 16px;
}

.comment_card .star_box {
  max-width: 120px;
}

.comment_card .star_box .star {
  max-width: 16px;
  padding-right: 4px;
}

.info_comment .m-displayNone {
  display: block;
}

@media (max-width: 992px) {
  .info_comment .m-displayNone {
    display: none;
  }
}

.comment_pageList {
  display: flex;
  justify-content: center;
}

.comment_pageList .comment_page {
  background: #DDDDDD;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.comment_pageList .comment_page_on {
  background: #FFD153;
  width: 16px;
  height: 10px;
  border-radius: 50px;
  margin-right: 8px;
}

.bg_homeFooter {
  background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg) no-repeat;
  background-size: cover;
  background-position: center 0;
  padding-top: 400px;
  padding-bottom: 20px;
  margin-bottom: 80px;
}

.bg_homeFooter p {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  line-height: 1,5;
}

@media (max-width: 580px) {
  .bg_homeFooter p {
    font-size: 24px;
  }
}

.bg_homeFooter a {
  margin: 0 auto;
}
/*# sourceMappingURL=all.css.map */