.header{
    padding: 24px 139px;

    @include pad_L {
        padding: 24px 100px;
    }

    @include pad {
        padding: 24px 80px;
    }

    @include mobile_L {
        padding: 16px 20px;
        border-bottom: 2px solid #FFD153;
    }

    .logo{
        max-width: 218px;

        /* Firefox        */
        image-rendering:-moz-crisp-edges;
        /* Opera          */
        image-rendering:-o-crisp-edges;
        /* Safari         */
        image-rendering:-webkit-optimize-contrast;
        /* CSS3 Proposed  */
        image-rendering:optimize-contrast;
        /* IE8+           */
        -ms-interpolation-mode:nearest-neighbor;

        @include mobile_L{
            width: 140px;
            
        }
    }
}

.footer{
    background: #F5F5F5;
    color: $c_black;
    text-align: center;
    padding: 20px 0;
}