@import "reset";
@import "style";

@import "layout";


.bg_main{
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg),url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg);
    background-repeat: no-repeat;
    background-size: contain,360px 360px;
    background-position: 100% 0%,-222px calc(100% + 180px);

    @include pad_L{
        background-size: 60%,360px 360px;
        height: 80vh;
    }

    @include pad{
        height: auto;
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg);
        background-size: 334px auto;
        background-position: center 93%;
    }

}

.hero_box{
    height: 60vh;

    @include pad{
        flex-direction: column;
        padding-top: 32px;
        height: 80vh;
    }


}

.slogan_box{

    @include pad{
        margin-bottom: 32px;
    }

    p{
        color: $c_base;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;

        @include pad_L{
            font-size: 16px;
        }
    }

    h1{
        color: $c_black;
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 16px;
        line-height: 1.5;

        @include pad_L {
            font-size: 36px;
        }

        @include pad {
            font-size: 32px;
        }

    }

    h2{
        color: lighten($c_black, 30%);
        font-size: 20px;
        font-weight: bold;

        @include pad_L{
            font-size: 16px;
            line-height: 1.5;
        }

        @include pad {
            font-weight: 400;
        }
    }
}

.p_main{
    width: 49%;
    margin-left: auto;

    @include pad{
        width: 90%;
        margin: auto;
    }

}


.back_top{
    position: fixed;
    height: 70px;
    width: 70px;
    background: $c_base;
    border-radius: 50%;
    font-weight: 900;
    text-align: center;
    color:#fff;
    padding: 27px 0;
    text-decoration: none;
    z-index: 299;

    right: 48px;
    bottom: 24px;

    &:hover{
        background: darken($c_base,20%);
    }

    @include pad {
        height: 50px;
        width: 50px;
        font-size: 14px;
        padding: 18px 0;

        right: 16px;
        bottom: 16px;
    }
}

.bg_content{
    padding-top: 100px;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg),url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg),url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg);
    background-repeat: no-repeat;
    background-size: 360px 360px,310px 310px,150px 150px;
    background-position: -222px -180px,108% 32%,5% 66%;

    @include pad{
        padding-top: 60px;
        background-size: 126px 126px,135px 135px,150px 150px;
        background-position: -60px 75px, calc(100% + 47px) 52%,5% 66%;
    }

    @include mobile{
        background-position: -60px 75px, calc(100% + 47px) 45%,5% 66%;
    }

}


.info_box{

    .title{
        font-size: 32px;
        color: $c_black;
        text-align: center;
        font-weight: bold;

        @include pad{
            font-size: 28px;
            line-height: 1.5;
        }
    }


    .subtitle{
        font-size: 20px;
        text-align: center;
        line-height: 1.5;

        @include pad{
            font-size: 18px;
        }
    }

}

.info_platform{

    @include pad{
        flex-wrap: wrap;
    }
}


.platform_card{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include pad{
        width: 100%;
        margin-bottom: 40px;
    }

    @include mobile{
        margin-bottom: 24px;
    }

    .platform_img{
        width: 90px;

        @include pad{
            margin-bottom: 16px;
        }
    }

    .platform_title{
        font-size: 24px;
        color: $c_black;
        text-align: center;
        font-weight: bold;

        @include pad{
            margin-bottom: 16px;
        }
    }

    p{
        color: $c_gray;
        line-height: 1.5;
        text-align: center;
    }
}

// video

.info_sever{
    align-items: stretch;

    @include pad_L{
        flex-wrap: wrap;
        padding-right: 37px;
        padding-left: 37px;
    }
}

.sever_card{
    background: #fff;
    width: 23%;

    @include pad_L{
        width: 48%;
        margin-bottom: 32px;
    }

    @include pad{
        width: 100%;
    }

    .sever_img{
        border-radius: 12px 12px 0 0;
        object-fit: cover;
    }

    h4{
        padding: 20px 0;
        color: $c_base;
        text-align: center;
    }

    p{
        padding: 0 16px 24px 16px;
        line-height: 1.5;
        text-align: center;
        color: $c_black;
    }
}

// video

.info_feature{

    @include pad_L{
        flex-direction: column-reverse;
        width: 100%;
    }
}

.feature_cardList{
    display: flex;
    flex-wrap: wrap;
    width: 47%;

    @include pad_L{
        width: 100%;
        justify-content: space-between;
    }


    .feature_card{
        width: 45%;
        background: #fff;
        padding: 32px 32px 48px 32px;

        @include pad-L{
            padding: 24px;
            margin-right: 0;
            margin-bottom: 28px;
        }

        @include mobile{
            width: 100%;
        }

        .feature_pic{
            width: 86px;
            height: 86px;
            border-radius: 50%;
            box-shadow: 0px 2px 10px rgba(130, 130, 130, 0.30);

            img{
                width: 52px;
                margin: 0 auto;
                padding: 17px 0;
            }
        }

        .feature_title{
            font-size: 18px;
            font-weight: bold;
            color: $c_black;
        }

        p{
            color: $c_black;
            line-height: 1.5;
        }
    }
}

.feature_slogan{
    width: 42%;
    padding-right: 49px;

    @include pad_L{
        width: 100%;
        padding-right: 0px;

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 48px;
    }

    h3{
        color: $c_black;
        font-size: 32px;
        line-height: 1.5;
        font-weight: bold;
        @include pad_L{
            text-align: center;
        }
    }

    p{
        color: $c_black;
        font-size: 18px;
        line-height: 1.5;
        @include pad_L{
            text-align: center;
        }
    }

}

.info_comment{
    padding-top: 104px;

    @include pad_L{
        flex-wrap: wrap;
        padding-top: 48px;
    }
}

.comment_card{
    padding: 48px 32px 24px 32px;
    position: relative;
    width: 30%;
    background: #fff;

    @include pad_L{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 24px;
    }

    .pic_head{
        border-radius: 50%;
        width: 80px;
        position: absolute;
        top: -50px;
    }

    p{
        color: $c_black;
        line-height: 1.5;
        padding-bottom: 24px;
        border-bottom: 1px solid #DDDDDD;
        margin-bottom: 24px;
    }

    h4{
        font-weight: bold;
        color: $c_black;
        margin-bottom: 16px;
    }

    .star_box{
        max-width: 120px;

        .star{
            max-width: 16px;
            padding-right: 4px;
        }
    }


}


.comment_pageList{
    display: flex;
    justify-content: center;
    .comment_page{
        background: #DDDDDD;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 8px;
    }
}

.comment_page_active{
    width: 16px;
    background: #FFD153;

}

.bg_homeFooter{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg) no-repeat;
    background-size: cover;
    background-position: center 0;

    padding-top: 400px;
    padding-bottom: 20px;
    margin-bottom: 80px;


    p{
        font-weight: bold;
        font-size: 32px;
        text-align: center;
        line-height: 1,5;
        @include pad{
            font-size: 24px;
        }
    }

    a{
        margin: 0 auto;
    }
}